

body {
	background-color: darkred;
}
div#mode {
	background-color: indigo;
	color: white;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 1.7em;
	border-radius: 10px;
	cursor: pointer;
}
h1 {
	color: white;
}

img {
	display: block;
	width: 40%;
}